@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@*This is a sales reporting and prediction system for People Health Pharmacy Inc. This application allows them to analyze their stock and which products have higher demand.
       This will allow them to determine which products they can restock earlier to address stock issues that accompany a popular product.*@</p>
