@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    42 Wallaby Way<br />
    Sydney, NSW 3141-5926<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PHParmacy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PHParmacy.com</a>
</address>

@* Additional detail will need to be added as contact methods and channel are developed*@