@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People Health Pharmacy</h1>
	<p class="lead">PHP Sales and Reports App.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
		<p>People Health Pharmacy is a small pharmacy based in Hawthorn.
           We offer various medicine, health care products and accessories.</p>
    </div>
    @*This is our introductory homepage, still under construction and in plans for #sprint 2*@
</div>